<!DOCTYPE html>
<html lang="en">

<head>
    
   
    <%- include("partials/head") -%>
    <title>Images</title>
</head>

<body>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>Pagina no encontrada</h1>
      <p>No existe esta Pagina</p>
      <a href="/">Volver al inicio</a>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
</body>
</html>