<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") -%>
    <title>Images</title>
</head>

<body>
  <%- include("partials/navigation") %>
<section class="card">
  <div class="card-body about-card">
    <h1> Portal Oficial Grupo R SAS (900585965-7)</h1>
    <p>
<h3>Derechos de autor</h3>
Todos los contenidos de este Sitio (Incluyendo, pero no limitado a, texto, logotipos, contenido, fotografías, audio, botones, nombres comerciales y vídeo) están sujetos a derechos de propiedad por las leyes de Derechos de Autor y demás Leyes relativas Internacionales a GRUPO R SAS (REPLAYS TIENDAS DEPORTIVAS Y FOX CONCEPT STORE) y de terceros titulares de los mismos que han autorizado debidamente su inclusión.<br><br>

En ningún caso se entenderá que se concede licencia alguna o se efectúa renuncia, transmisión, cesión total o parcial de dichos derechos ni se confiere ningún derecho, y en especial, de alteración, explotación, reproducción, distribución o comunicación publica sobre dichos contenido sin la previa autorización expresa de GRUPO R SAS (REPLAYS TIENDAS DEPORTIVAS Y FOX CONCEPT STORE) o de los titulares correspondientes.<br><br>

El uso de imágenes, fragmentos de videos y demás material que sea objeto de protección de los derechos de autor, será exclusivamente para fines educativos e informativos, y cualquier uso distinto como el lucro, reproducción, edición o modificación, será perseguido y sancionado por el respectivo titular de los Derechos de Autor.<br><br>

<h2>Derechos de uso</h2>
Queda prohibido copiar, reproducir, distribuir, publicar, transmitir, difundir, o en cualquier modo explotar cualquier parte de este servicio sin la autorización previa por escrito de GRUPO R SAS (REPLAYS TIENDAS DEPORTIVAS Y FOX CONCEPT STORE) o de los titulares correspondientes. Sin embargo, usted podrá bajar material a su computadora personal para uso exclusivamente personal o educacional y no comercial limitado a una copia por página. Usted no podrá remover o alterar de la copia ninguna leyenda de Derechos de Autor o la que manifieste la autoría del material.<br><br>
    </p>
  </div>
  <div class="bg-dark logos-about logo-nav">
    <div>
        <a href="https://www.foxconceptstore.com/" target="__blanck"><img class="small--hide" style="width: 10rem;" src="//cdn.shopify.com/s/files/1/0264/9161/7361/files/FOXHEADHORIZONTALBK_x50@2x.png?v=1628572633" alt="FOX RACING COLOMBIA TIENDA OFICIAL FOX CONCEPT STORE FOX COLOMBIA ">
        </a>
      </div>
    <div>
      <a href="https://www.replays.com.co/" target="__blanck"><img class="medium-up--hide" src="//cdn.shopify.com/s/files/1/0520/8725/9327/files/LOGO_REPLAYS_BLANCO_872e63e0-8ac6-4c95-8d75-48c9234f8e5a_130x.png?v=1616343767" srcset="//cdn.shopify.com/s/files/1/0520/8725/9327/files/LOGO_REPLAYS_BLANCO_872e63e0-8ac6-4c95-8d75-48c9234f8e5a_130x.png?v=1616343767 1x, //cdn.shopify.com/s/files/1/0520/8725/9327/files/LOGO_REPLAYS_BLANCO_872e63e0-8ac6-4c95-8d75-48c9234f8e5a_130x@2x.png?v=1616343767 2x" alt="Replays Tiendas Deportivas"></a>
    </div>
      
  </div> 
</section>

<%- include("partials/footer") %>
</body>
</html>
