<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") -%>
    <title>Upload an Image</title>  
</head>
<%- include("partials/navigation") %>
<body>
    <% if (user.email === process.env.EMAIL_ADMIN) { %>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Subir imagen</h3>
                    </div>
                    <div class="card-body">
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02" required>Cargar  archivo</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Title" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="sku" placeholder="sku" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <select type="text" name="cat" placeholder="Proveedor" class="form-control" required>
                                    <option value="value0" selected disabled>**SELECCIONAR</option>
                                    <option value="FOX">Fox</option>
                                    <option value="REPLAYS">Replays</option>
                                    <!-- <option value="value3">Value 3</option> -->
                                  </select>
                            </div>
                            <div class="form-group">
                                <textarea name="description" placeholder="Description" class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Subir...
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <% } else { %>
        <%- include("../404") %>
    <% } %>

    <%- include("partials/footer") %>
</body>

</html>