body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}   
* {
    font-family: 'rift';
  }
/* Custom CSS */
.logo {
    width: 30%;
  }
  .logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar  {
    background-color: #000 !important;
  }
  .navbar-toggler {
    background-color: #fff !important;
  }
  .navbar-nav > li > .nav-link {
    color: #fff !important;
  }
  .nav-item {
    padding: 5px 1.2rem !important;
  }
  .form-control::placeholder{
    color: #fff !important;
  }
  textarea.form-control::placeholder,
  .form-group > input.form-control::placeholder {
    color: #444 !important;
  }
  .btn-outline-success { 
    background-color: #fff !important;
    color: #000 !important;
    transition: all .5s ease;
  }
  .btn-outline-success:hover {
    background-color: #4caf50!important;
    color: #fff !important;
  }

div.card-columns {
  column-count: 4 !important;
}
.img-body {
  height: 300px;
}
.img-body > img {
  height: inherit;
}

/* ARREGLOS BOOTSTRAP */ 
.col-sm-3 {
  display: flex;
  justify-content: center;
  max-width: none !important;
  padding: 15px;
}
.col-sm-9 {
  max-width: none !important;
}
@media (max-width: 900px) {
  .grid-mobile {
    display: inline;
  }
}
.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 100%;
}
@media (min-width: 900px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 95%;
}
}
aside {
  width: 70%;
}