<aside>
       <ul class="list-group">
           <a href='/fox' class="p-1 btn-primary">Fox</a>
           <a href="/replays" class="p-1 btn-primary">ver todo Replays</a>
           <a href="/south" class="p-1 btn-primary">South End</a>
       </ul>
</aside>