<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="logo-nav">
      <div>
          <a href="https://www.foxconceptstore.com/" target="__blanck"><img class="small--hide" style="width: 10rem;" src="//cdn.shopify.com/s/files/1/0264/9161/7361/files/FOXHEADHORIZONTALBK_x50@2x.png?v=1628572633" alt="FOX RACING COLOMBIA TIENDA OFICIAL FOX CONCEPT STORE FOX COLOMBIA ">
          </a>
        </div>
      <div>
        <a href="https://www.replays.com.co/" target="__blanck"><img class="medium-up--hide" src="//cdn.shopify.com/s/files/1/0520/8725/9327/files/LOGO_REPLAYS_BLANCO_872e63e0-8ac6-4c95-8d75-48c9234f8e5a_130x.png?v=1616343767" srcset="//cdn.shopify.com/s/files/1/0520/8725/9327/files/LOGO_REPLAYS_BLANCO_872e63e0-8ac6-4c95-8d75-48c9234f8e5a_130x.png?v=1616343767 1x, //cdn.shopify.com/s/files/1/0520/8725/9327/files/LOGO_REPLAYS_BLANCO_872e63e0-8ac6-4c95-8d75-48c9234f8e5a_130x@2x.png?v=1616343767 2x" alt="Replays Tiendas Deportivas"></a>
      </div>
        
    </div> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ml-auto me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/about">Nosotros</a>
        </li>
        <% if (user) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <% if (user.email === process.env.EMAIL_ADMIN) { %>
            <li><a class="dropdown-item" href="/upload">Subir imagenes</a>
            </li>
            <% } %>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/users/logout">Cerrar sesión</a></li>
          </ul>
        </li>
        <% } %>
         <% if (!user) { %>
        <li class="nav-item">
          <a class="nav-link " href="/users/signin">Iniciar Sesión</a>
        </li>
        <% } else  if (user.email === process.env.EMAIL_ADMIN) { %>
        <li class="nav-item">
          <a class="nav-link" href="/users/signup">Registrar Usuario</a> 
        </li>
        <% } %>
        
      </ul>
      <% if (user) { %>
      <form action="/buscar" method="GET"  class="d-flex">
        <input class="form-control me-5" id="search" type="search" name="search" placeholder="Buscar Sku" aria-label="Search" >
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <% } %>
    </div>
  </div>
</nav>